<html>
    <head>
        <title><%=
            htmlWebpackPlugin.options.title
            %></title>
    </head>
<body>
    <div class="profile">
            <h1>Hello test 2</h1>
            <img src="./images/test.jpg">
            <h2 id="react-root"></h2>
    </div>
</body>
</html>
